<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Pradeep Test suite">
    <listeners>
        <listener class-name="config.ListenTest"/>
    </listeners>
  <test thread-count="5" verbose="2" name="Default test">
    <classes>
      <class name="testCases.TC001"/>
      <class name="testCases.TC002"/>
      <class name="testCases.TC003"/>
     
     </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
            